<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cargo delivery</title>
</head>
<body class="delivery_request" th:with="lang=${#locale.getLanguage()}">
<div>
    <div class="locale">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light" type="button"><a class="button_locale" th:href="@{'?locale=uk'}">UKR</a>
            </button>
            <button class="btn btn-light" type="button"><a class="button_locale" th:href="@{'?locale=en'}">ENG</a>
            </button>
        </div>
    </div>
</div>
<form th:method="POST" th:action="@{/users/deliveryRequests}" th:object="${deliveryRequest}" class="form_request">

    <label for="type" th:text="#{type}"/>
    <select class="form-select" aria-label="Default select example" id="type" th:field="*{type_en}">
        <option th:if="${lang.equals('en')}" th:value="'Cargo'" th:text="Cargo"/>
        <option th:if="${lang.equals('uk')}" th:value="'Cargo'" th:text="Вантаж"/>
        <option th:if="${lang.equals('en')}" th:value="'Pallets'" th:text="Pallets"/>
        <option th:if="${lang.equals('uk')}" th:value="'Pallets'" th:text="Палета"/>
    </select>
    <br>
    <div class="error" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
    <label for="weight" th:text="#{weight}"/>
    <input type="text" th:field="*{weight}" id="weight"/>
    <br><br>
    <div class="error" th:if="${#fields.hasErrors('length')}" th:errors="*{length}"></div>
    <label for="length" th:text="#{length}"/>
    <input type="text" th:field="*{length}" id="length"/>
    <br><br>
    <div class="error" th:if="${#fields.hasErrors('width')}" th:errors="*{width}"></div>
    <label for="width" th:text="#{width}"/>
    <input type="text" th:field="*{width}" id="width"/>
    <br><br>
    <div class="error" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
    <label for="height" th:text="#{height}"/>
    <input type="text" th:field="*{height}" id="height"/>
    <br><br>
    <label for="city" th:text="#{address}"/>
    <select class="form-select" aria-label="Default select example" id="city" th:field="*{address}">
        <div th:each="address: ${addresses}">
            <option th:if="${lang.equals('en')}" th:value="${address.getId()}" th:text="${address.getAddress_en()}"/>
            <option th:if="${lang.equals('uk')}" th:value="${address.getId()}" th:text="${address.getAddress_uk()}"/>
        </div>
    </select>
    <br><br>

    <input class="btn btn-info button_a" type="submit" th:value="#{create.delivery.request}"/>
    <button class="btn btn-light" type="button">
        <a class="button_locale" th:href="@{'/users'}" th:text="#{main.page}"></a>
    </button>
</form>

</body>
</html>