<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cargo delivery</title>
</head>

<body th:with="lang=${#locale.getLanguage()}">
<input type="hidden" id="id-request" th:value="${request.get().id}"/>
<select class="form-select" aria-label="Default select example" th:value="${request.get().type_en}" id="type_en" >
    <option th:if="${lang.equals('en')}" value="Cargo">Cargo</option>
    <option th:if="${lang.equals('uk')}" value="Cargo">Вантаж</option>
    <option th:if="${lang.equals('en')}" value="Pallets">Pallets</option>
    <option th:if="${lang.equals('uk')}" value="Pallets">Палета</option>
</select>
<br>

<input type="text"  id="weight" th:value="${request.get().weight}" placeholder="weight"/>
<br><br>
<input type="text" id="length" th:value="${request.get().length}" placeholder="length"/>
<br><br>

<input type="text"  id="width" th:value="${request.get().width}" placeholder="width"/>
<br><br>

<input type="text" id="height" th:value="${request.get().height}" placeholder="height"/>
<br><br>
<select class="form-select" aria-label="Default select example" th:value="${request.get().address.getAddress_en()}" id="address" name="address">
    <div>
        <option th:if="${lang.equals('en')}" value="1">Lviv, Viddilennia 1</option>
        <option th:if="${lang.equals('uk')}" value="1">Львів, Відділення 1</option>
        <option th:if="${lang.equals('en')}" value="2">Lviv, Viddilennia 2</option>
        <option th:if="${lang.equals('uk')}" value="2">Львів, Відділення 2</option>
    </div>
</select>
<br><br>

<button class="btn btn-info" onclick="updateRequest()">Update</button>
<script src="/js/main.js"></script>
</body>
</html>