<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cargo delivery</title>
</head>
<body>
<h1>Direction report</h1>
<button class="btn btn-info" type="button">
    <a class="button_a" th:href="@{'/deliveryRequests'}" th:text="#{manager.page}"></a>
</button>
<table class="table">
    <thead class="table-dark table-hover">
    <tr>
        <th>#</th>
        <th th:text="#{username}"></th>
        <th th:text="#{type}"></th>
        <th th:text="#{weight}"></th>
        <th th:text="#{volume}"></th>
        <th th:text="#{city}"></th>
        <th th:text="#{address}"></th>
        <th th:text="#{date.of.arrival}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${directionReports}">
        <th th:text="${request.id}"></th>
        <td th:text="${request.user.getUsername()}"></td>
        <td th:text="${request.type_en}"></td>
        <td th:text="${request.weight}"></td>
        <td th:text="${request.volume}"></td>
        <td th:text="${request.getDirection().getCity_en()}"></td>
        <td th:text="${request.address}"></td>
        <td th:text="${request.dateOfArrival}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>