<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cargo delivery</title>
</head>
<body>

<div class="header_top">

    <div class="locale">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light" type="button">
                <a class="button_locale" th:href="@{'/users'}" th:text="#{login.text}"></a>
            </button>

            <button class="btn btn-light" type="button">
                <a class="button_locale" th:href="@{'/registration'}" th:text="#{registration}"></a>
            </button>
            <button class="btn btn-light" type="button"><a class="button_locale" th:href="@{'?locale=uk'}">UKR</a>
            </button>

            <button class="btn btn-light" type="button"><a class="button_locale" th:href="@{'?locale=en'}">ENG</a>
            </button>
        </div>
    </div>
</div>
<div class="header_container">
    <h1 class=name_company th:text="#{name.company}"></h1><br><br>
</div>
<form th:action="@{/}"  class="report">
    <label for="d" th:text="#{city}"/>
    <input type="text" th:name="city" id="d"/>
    <input type="hidden" th:name="filter" th:value="true"/>
    <input type="submit" class="btn btn-info button_a"/>
    <button class="btn btn-info sort_button" type="button"><a class="button_a" th:text="#{reset.filters}" th:href="@{?filter=false}"></a>
    </button>
    <button class="btn btn-info sort_button" type="button"><a class="button_a" th:text="#{sort}" th:href="@{?sort=true}"></a>
    </button>
</form>

<br><br>
<div class="tariff">
    <h2 th:text="#{tariffs}" class="tariffs"/>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{tariff.name}"></th>
            <th th:text="#{weight}"></th>
            <th th:text="#{volume}"></th>
            <th th:text="#{conditions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tariff : ${tariffs}">
            <th th:text="${tariff.id}"></th>
            <td th:if="${locale=='en'}" th:text="${tariff.getTariffNameEn()}"></td>
            <td th:if="${locale=='uk'}" th:text="${tariff.getTariffNameUk()}"></td>
            <td th:text="${tariff.getTariffForWeight()}"></td>
            <td th:text="${tariff.getTariffForVolume()}"></td>
            <td th:if="${locale=='en'}" th:text="${tariff.getDescriptionEn()}"></td>
            <td th:if="${locale=='uk'}" th:text="${tariff.getDescriptionUk()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="directions">
    <h2 class="title" th:text="#{directions.title}"></h2>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th th:text="#{city}"></th>
            <th th:text="#{distance}"></th>
        </tr>
        </thead>
        <tbody>
        <div >
            <tr th:if="${sort&&locale=='en'&&!filter}" th:each="direction : ${sortedDirectionsEnLocale}">
                <th th:text="${direction.id}"></th>
                <td th:text="${direction.getCityEn()}"></td>
                <td th:text="${direction.getDistance()}"></td>
            </tr>
            <tr th:if="${sort&&locale=='uk'&&!filter}" th:each="direction : ${sortedDirectionsUkLocale}">
                <th th:text="${direction.id}"></th>
                <td th:text="${direction.getCityUk()}"></td>
                <td th:text="${direction.getDistance()}"></td>
            </tr>
            <tr th:if="${!sort&&!filter}" th:each="direction : ${allDirections}">

                <th th:text="${direction.id}"></th>
                <td th:if="${locale=='en'}" th:text="${direction.getCityEn()}"></td>
                <td th:if="${locale=='uk'}" th:text="${direction.getCityUk()}"></td>
                <td th:text="${direction.getDistance()}"></td>
            </tr>
        </div>
        <tr th:if="${filter}" th:each="fdirection: ${filterDirection}">
            <th th:text="${fdirection.id}"></th>
            <td th:if="${locale=='en'}" th:text="${fdirection.getCityEn()}"></td>
            <td th:if="${locale=='uk'}" th:text="${fdirection.getCityUk()}"></td>
            <td th:text="${fdirection.getDistance()}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="cost">
    <h2 class="title" th:text="#{calculate.costs.title}"/>

    <form th:method="POST" th:action="@{/}" th:object="${deliveryCost}" class="delivery_cost">
        <br>
        <label for="city" th:text="#{route}"/>
        <select class="form-select" aria-label="Default select example" id="city" th:field="*{city}">
            <div th:each="direction: ${allDirections}">
                <option th:if="${locale=='en'}" th:value="${direction.getCityEn()}" th:text="${direction.getCityEn()}"/>
                <option th:if="${locale=='uk'}" th:value="${direction.getCityEn()}" th:text="${direction.getCityUk()}"/>
            </div>
        </select>
        <br>
        <div class="error" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" >
        </div>
        <label for="weight" th:text="#{weight}"/>
        <input type="text" th:field="*{weight}" id="weight"/>
        <br><br>

        <div class="error" th:if="${#fields.hasErrors('length')}" th:errors="*{length}" >
        </div>
        <label for="length" th:text="#{length}"/>
        <input type="text" th:field="*{length}" id="length"/>
        <br><br>

        <div class="error" th:if="${#fields.hasErrors('width')}" th:errors="*{width}">
        </div>
        <label for="width" th:text="#{width}"/>
        <input type="text" th:field="*{width}" id="width"/>
        <br><br>

        <div class="error" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">
        </div>
        <label for="height" th:text="#{height}"/>
        <input type="text" th:field="*{height}" id="height"/>
        <br><br>

        <input class="btn btn-info button_a" type="submit" th:value="#{calculate}"/>
        <p th:if="!${#fields.hasAnyErrors()}" class="cost_result" th:text="#{result} + ${result}"><br><br>
    </form>
    <br>

</div>

</body>
</html>