
* {
    box-sizing: border-box;
}
.button_a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.button_manager{
    max-width: 1180px;
    margin: 10px auto 10px auto;
}
.button_locale {
    text-decoration: none;
    color: royalblue;
    background-color: transparent;
}

.header_top {
    background-color: #696969;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.locale {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    width: auto;
}

.registration_container {
    padding: 20px;
}

.header_container {
    padding: 10px;
}

h1.name_company {
    color: deepskyblue;
    text-align: center;
}

.tariff {
    background-color: #696969;
}

.directions {
    background-color: #DCDCDC;
}

.delivery_cost,
.form {
    width: 500px;
    margin: 0 auto;
}

.tariffs {
    color: white;
    text-align: center;
}

.input_button {
    background-color: transparent;
    border: none;
}

.cost_result {
    text-align: center;
}

.title {
    text-align: center;
    color: deepskyblue;
}

button.right_button {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

button.left_button {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

div.error {
    color: red;
}

.form_request {
    width: 500px;
    margin: 20px 100px 20px auto;
}

.delivery_request {
    background-image: url(http://localhost:8080/cargo-delivery/img/boxes-for-shipping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.registration {
    background-image: url(http://localhost:8080/cargo-delivery/img/laptop-in-empty-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.registration_title {
    text-align: center;
    font-size: xx-large;
}

.card {
    max-width: 1180px;
    margin: 10px auto;
}

nav.pagination_conteiner, form.report {
    margin-right: 10px;
    margin-left: auto;
}

.recharge {
    max-width: 150px;
    margin-left: 10px;
    margin-right: auto;
}

.manager {
    background-image: url(http://localhost:8080/cargo-delivery/img/truck-2677373_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
    font-size: 15px;
}

.user {
    background-image: url(http://localhost:8080/cargo-delivery/img/port-1845350_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.exception-title {
    text-align: center;
    color: deepskyblue;
    font-size: 100px;
    font-weight: bold;
}

.exception-message {
    text-align: center;
    color: black;
    font-size: 75px;
    font-weight: inherit;

}